<h1 id="tableLabel">Usuarios</h1>

<p>Lista de usuarios en el servidor.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Puntos</th>
      <th>Fecha de Creación</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.summary }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.date }}</td>
      
    </tr>
  </tbody>
</table>
